<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-content padding>
    <button ion-button color="light" (click)="updateGeoPosition()">{{this.geoPosition}}</button>
    <br/>
    <button *ngIf="!inCall" ion-button color="light" (click)="checkMicrophoneAndCall(1)">Call 1</button>
    <button *ngIf="!inCall" ion-button color="light" (click)="checkMicrophoneAndCall(2)">Call 2</button>
    <button *ngIf="inCall" ion-button color="light" (click)="destroy()">End call</button>
</ion-content>
